[submodule "BACKEND-NLW-IA"]
	path = BACKEND-NLW-IA
	url = https://github.com/Joaov9620/BACKEND-NLW-IA.git
[submodule "NLW-FRONT"]
	path = NLW-FRONT
	url = https://github.com/Joaov9620/FRONT-NLW-IA.git
